<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="usestyle.css">
    <script type="text/javascript" src="scripts/assignwork.js"></script>
    <title>assignwork</title>
</head>
<body ng-app="assign">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">Winn Constructions - Admin</a>


            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="worker.html">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">assign</a>
                </li>
            </ul>

        </div>
    </nav>
    <div ng-controller="Controller">
        <div my-customer></div>
    </div>
    <h3>Assign</h3>
    <br />
    <form class="form-control" f>
        <div class="row">
            <div class="col-sm-4">
                <h5 style="text-align:center">Engineer :</h5>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="engineer">
                    <option>Ram</option>
                    <option>Roy</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <h5 style="text-align:center">Plumber :</h5>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="plumber">
                    <option>Suresh</option>
                    <option>Antony</option>
                    <option>Maran</option>
                </select>
            </div>

        </div><br />
        <div class="row">
            <div class="col-sm-4">
                <h5 style="text-align:center">Electrician :</h5>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="elec">
                    <option>Rahul</option>
                    <option>Siddharth</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <h5 style="text-align:center">Painter :</h5>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="paint">
                    <option>Ganesh</option>
                    <option>Ramesh</option>
                </select>
            </div>
        </div>
        <br><center>
        <button class="btn btn-info">Assign</button>
    </center>
    </form>
</body>
</html>